
DATABASE_URL = "mongodb+srv://fgirse:Basel2023@cluster0.snxs40x.mongodb.net/test"
SECRET = HHFpJ1M+qCd2fcurfPfFKuJn2YmLpYJjhE+gSrVwDkc=

GOOGLE_ID = 591541867944-b30tt52ul3dc6ksiide3s1savsuh7tvm.apps.googleusercontent.com
GOOGLE_SECRET = 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  

GITHUB_ID = wwwww
GITHUB_SECRET = 12345

GITHUB_ID = cb79957d254dd85a38a0
GITHUB_SECRET = c9559124c7ef915bf0475d405e78c998a6c640ed by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings



# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
